name: Submodule Sync
on:
  workflow_dispatch:

jobs:
  submodule-sync:
    name: Submodule Sync
    runs-on: ubuntu-latest
    steps:
      - name: Submodule Sync
        uses: mheap/submodule-sync-action@v1
        with:
          path: child
          ref: main
          pr_branch: automated-submodule-update
          target_branch: main
